.button {
    display: inline-block;
    color: rgb(77, 77, 77);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border:  2px solid rgb(77, 77, 77);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
    min-width: 10rem;
    height: 2rem;
    background-color:#eee;
    cursor: pointer;
    
    &:active {
        background-color: #ddd;
    }

    &--disabled {
        pointer-events: none;
        opacity: .5;
    }

    &--block {
        display: block;
        width: 100%;
    }
}
