.calendar {
    width: 100%;
    border-bottom: 2px solid rgb(77, 77, 77);;
    margin-top: .5rem;

    &__row {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 2px solid rgb(77, 77, 77);;
    }

    &__cell {
        display: flex;
        width: calc(100%/6);
        height: 2rem;
        flex-shrink: 0;
        border-top: 2px solid rgb(77, 77, 77);;
        border-left: 2px solid rgb(77, 77, 77);;
        align-items: center;
        justify-content: center;

        &--head {
            font-weight: bold;
            background-color: #eee;
        }

        &--strong {
            font-weight: 600;
        }
    }

    &__event {
        background-color: #704ebe;
        border-radius: 5px;
        padding: 3px;
        margin: 3px;

    }


}
