.text-field {
    display: inline-block;
    color: rgb(77, 77, 77);
    text-align: center;
    white-space: nowrap;
    user-select: none;
    border:  2px solid rgb(77, 77, 77);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.25rem;
    min-width: 10rem;
    height: 2rem;
    cursor: pointer;
    outline: none;

    &::placeholder {
        color: rgb(151, 166, 185)
    }
    
    &:hover {
        border-color: rgb(0, 80, 185);
    }

    &:focus {
        border-color: rgb(65, 135, 226);
    }

    &--block {
        display: block;
        width: 100%;
    }

    &--disabled {
        pointer-events: none;
        opacity: .5;
    }
}
